<div class="row">
  <div class="col-lg-4">
    <!-- Form to take origin and destination to trace route -->
    <%= simple_form_for @comment,
                :url => url_for(:action => 'index',
                                      :controller => 'comments'),
                :method => 'post' do |o| %>

          <div id="trace_route_form">

            <br>
            <div class="row">
              <div class="col-lg-6">
                <div class="input-group">
                  <div class="form-horizontal">
                    <%= o.input :title, label: false,
                                        placeholder:'Título do comentário',
                                        required: true,
                                        :pattern => '[a-zA-Z0-9 /\ãáàâéêíôóõúç~-,.:;ÃÁÀÂÉÊÍÔÓÕÚÇ]+',
                                        :input_html => {:style => 'width: 135px', :style => 'height: 35px'} %>
                  </div>
                </div>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-6">
                <div class="input-group">
                  <div class="form-horizontal">
                    <%= o.input :text, label: false,
                                        placeholder:'Comentário',
                                        required: true,
                                        :pattern => '[a-zA-Z0-9 /\ãáàâéêíôóõúç~-,.:;ÃÁÀÂÉÊÍÔÓÕÚÇ]+',
                                        :input_html => {:style => 'width: 135px'}%>
                  </div>
                </div>
              </div>
            </div>

            <br>
            <%= o.button :submit, "Comentar", :class => "btn btn-default", :id => "btn_trace_route" %>

          </div>
    <% end %>
    <!-- End of origin and destination form -->
  </div>