<% if @comments.blank?  == false %>
	<% @comments.each do |comment| %>
  			<div class="panel panel-success">
        		<div class="panel-heading" style="color:#fff;">
        			<b><%= comment.title %></b></div>
  				<div class="panel-body">
    				<%= comment.text %>
  				</div>
  			</div> 
	<%end%>
	
<%else%>

	<h2> Essa rodovia não possui nenhum comentário </h2>

<%end%>

