
<!-- Set the page title to "Regiões" -->
<% content_for :title do %>Regiões<% end %>

<div class="page-header">

	<h1>Escolha uma região
		<small>
		<br> A partir de uma região visualize as BR's que passam por ela.		
		</small>
	</h1>

</div>

<br>
<div align="center">
	<h3>// Adicionar aqui o mapa estático com link para as regiões</h3>
</div>