<% content_for :title do %>Home | Pé na estrada<% end %>
<div class="jumbotron">
  <div class="container">
    <h1>Seja Bem Vindo</h1>
    <p class="lead">
    <p> O Pé na estrada foi desenvolvido com o intuito de disponibilizar informações sobre os acidentes ocorridos nas rodovias federais de acordo  com os dados disponibilizados pela Polícia Rodoviária Federal (PRF).</p>
    </p>
  </div>
</div>

<div class="container white_cont">
  <div class="container-fluid">
    <div class="row">
      <div class="span10">

        <table align="center" style="width:900px ">
          <tr>
          <br>
            <td>
              <p class="fa fa-search fa-5x"></p>
            </td>
            <td>
              <big> Pesquise por informações sobre uma rodovia federal.
            </td>
            <td>
              <p class="fa fa-car fa-5x"></p>
            </td>
            <td>
              <big> Trace rotas para sua viagem. Visualize os acidentes que ocorreram nas rotas e escolha uma rota mais segura.<br><br><br>
            </td>
          </tr>

          <tr>
            <td>
              <p class="fa fa-comments-o fa-5x"></p>
            </td>
            <td>
              <big> Compartilhe com os outros usuários informações sobre uma rodovia.<br><br><br>
            </td>

            <td>
              <p class="fa fa-sort-numeric-asc fa-5x"></p>
            </td>
            <td>
              <big> Acompanhe a classificação de cada rodovia em relação aos acidentes.<br><br><br>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
