<div id="initialAbout">
DESCRIÇÃO DO SOFTWARE
<br>
<br>
Essa aplicação foi desenvolvida com o intuito de disponibilizar informações sobre os acidentes ocorridos nas rodovias federais de acordo com os dados disponiblizados pela Polícia Rodoviária Federal (PRF). Você poderá acompanhar em nosso site rankings dos acidentes em cada rodovia, pesquisar rodovias que você deseja obter informações e traçar rotas para planejar uma viagem mais segura. 
<br>
<br>
Seja Bem-Vindo ! 

</div>  
<% content_for :title do %>Pé na estrada<% end %>


<div id="initialRanking">
<h5>  Ranking </h5>
<table class="table table-hover" >
<thread>
<tr>
<th>Posição</th>
<th>BR</th>
<th> Número de Acidentes/Km</th>
</tr>
</thread>
<tbody>

<% @highway.each do |h| %>
  <% if h.rankingPosition < 11 %>
    <tr></tr>
    <td><%= h.rankingPosition %>º </td>
    <td><%= h.idBr %></td>
    <td><%= format("%.4f",h.accidentsRate) %></td>
  <% end %>
<% end %>
</tbody>
</table>

<ul class="nav nav-pills nav-stacked">
  <li class="active">
    <a href="<%=highway_path(1)%>">
      <span class="badge pull-right">+</span>
      Visualizar mais 
    </a>
  </li>
</ul></div>
