<div id="about">
  <br>
  Aplicação desenvolvida por alunos da Universidade de Brasília, dentro das disciplinas de “Métodos de Desenvolvimento de Software” e “Gestão de Portfólios e Projetos”, sob a supervisão do professor Hilmer Rodrigues Neri e de monitores de ambas as disciplinas.
  <br>
  <br>
  <br>
  Componentes da equipe:
  <br>
  <br>
  Emilie Morais<br>
  Hugo Martins<br>
  Italo Paiva<br>
  Leonardo Cambraia<br>
  Tiago Assunção<br>
  Filipe Feitosa<br>
  Henrique Augusto<br>
  Rodrigo Gonçalves<br>
  Wilker Mesquita<br>
</div>