<!-- Set the page title to "Ranking" -->
<% content_for :title do %>Ranking<% end %>
<div align="center">
<h2>Ranking das Rodovias Federais</h2>


<table border="2">
	<%position = 1%>
	<%@accident.each do |br, conta|%>
	<tr>
	<td><%= " #{position} º" %> </td>
	<td><%= "BR: #{br}" %> </td>
	<td><%= "Número de Acidentes: #{conta}"%></td>
	</tr>
	<%position = position + 1%>
	<%end%>
</table>

</div>