<<<<<<< HEAD

<!-- Set the page title to "Acidentes" -->
<% content_for :title do %>Acidentes<% end %>

<div style= 'text-align:center'>
    <h1>Acidentes</h1>
</div>

<h3>Importar dados de acidentes333</h3>
<%= form_tag import_accidents_path, multipart: true do%>
  <%= file_field_tag :file%>
  <%= submit_tag "Importar" %>
<%end%>
=======
>>>>>>> f57f924c165e906d4471f03c02dac5c4bd2e48a0

<!-- Set the page title to "Acidentes" -->
<% content_for :title do %>Acidentes<% end %>

<div style= 'text-align:center'>
    <h1>Acidentes</h1>
</div>
