<table class="table table-hover">
<thread>
 <tr>

 	 <th>Estado</th>
	 <th>BR</th>
	 <th>Km do acidente</th>
 </tr>
 </thread>

 <tbody>

<% @accidents.each do |h| %>
 <tr>
 	 <td><%= h.uf %></td>	
	 <td><%= h.br %></td>
	 <td><%= h.km %></td>

	</tr>
 <% end %>
 </tbody>
</table>