#main_panel{
	
	/*text-align: center;*/
	margin-left: 15%;
	margin-right: 15%;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 20px;
}

#directions{
	padding-top: 10%;
	position:absolute;
	top:1%;
	left:37%;
	text-align:center;
}

#form{
	position: absolute;
	top: 14%;
	left: 1%;
	height: 100%;
	width: 100%;
}

#directionsPanel{
	position:absolute;
	top:44%;
	left:1.5%;
	text-align:center;
	overflow: auto;
	height: 47.5%;
	width: 25%;
}

#top-menu{
	position:absolute;

}
#rate_types{
	position:relative;
	top:0%;
	left:-5%;
}

#ranking{

	/*left: 32%;*/
	text-align: center;
	width: 40%;
	height: 400px;
	overflow: scroll;
}

#ranking_header{

	margin-top: 1%;
}

#about{
	margin-right: 15%;
}

#content{
	background: white;
	overflow: hidden;
}

#directionsPanelView{
	position:absolute;
	top:30%;
	left:100%;
	text-align:center;
	overflow: auto;
	height: 130%;
	width: 25%;
}
#initial_ranking{
/*	position: relative;
	width: 25%;
	left: 65%;*/
	-webkit-transition: height 1s;
    	transition: height 1s;
	position: relative;
	width: 40%;
	height: 60px;
	font-size: 11px;
	cursor: pointer;
	overflow: hidden;
}

#initial_ranking:hover{

	height: 550px;
	cursor: crosshair;
}

#initial_about{
/*	position: relative;
	width: 30%;
	left: 5%;*/
	text-align: justify;
}