#main_panel{
	
	/*text-align: center;*/
	margin-left: 5%;
	margin-right: 5%;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 20px;
}

#directions{

	position: relative;
}

#trace_route_form{

	position: relative;
	top: 14%;
	left: 1%;
	height: 100%;
	width: 100%;
}

#directionsPanel{

	position:relative;
	height: 450px;
	overflow-y: scroll;
}

#top-menu{
	position:absolute;

}
#rate_types{
	position:relative;
	top:0%;
	left:-5%;
}

#ranking{

	text-align: center;
	width: 40%;
	height: 400px;
	overflow-y: scroll;
}

#search_btn{

	position: static;
}

#search_highway_form{

}

#search_for_highway_result{

	margin-left: 10%;
}

#error_message{

	margin-top: 15%;
}

#ranking_header{

	margin-top: 1%;
}

#about{
	margin-right: 15%;
}

#content{
	background: white;
	overflow: hidden;
}

#directionsPanelView{
	position:absolute;
	top:30%;
	left:100%;
	text-align:center;
	overflow: auto;
	height: 130%;
	width: 25%;
}
#initial_ranking{

	-webkit-transition: height 1s;
    	transition: height 1s;
	position: relative;
	width: 40%;
	height: 60px;
	font-size: 11px;
	cursor: pointer;
	overflow: hidden;
}

#initial_ranking:hover{

	height: 550px;
	cursor: crosshair;
}

#initial_about{

	text-align: justify;
}