#directions{
	position:absolute;
	top:12%;
	left:19%;
	text-align:center;
}

#form{
	position: absolute;
	top: 0%;
	left: 1%;
}

#directionsPanel{
	position:absolute;
	top:12%;
	left:75%;
	text-align:center;
	overflow: auto;
	height: 90%;
	width: 25%;
}

#top-menu{
	position:absolute;

}
#rateTypes{
	position:relative;
	top:2%;
	left:33%;
}
