#main_panel{

	/*text-align: center;*/
	margin-left: 5%;
	margin-right: 5%;
	box-shadow: 10px 10px 5px rgba(0,0,0,.3);
	/*box-shadow: 10px 10px 5px #888888;*/
	border-radius: 20px;
}

#logo{

	height: 70px;
	width: 70px;
	margin-left: 30%;
	margin-right: 15%;
}

#button{

	top: 0%;
}

#directions{

	position: absolute;
	top: 1%;
}

#trace_route_form{

	position: relative;
	top: 14%;
	left: 1%;
	height: 100%;
	width: 150%;
}

#directionsPanel{

	position:relative;
	height: 450px;
	overflow-y: scroll;
}

#top-menu{

	position:absolute;

}

#rate_types{

	position:relative;
	top:0%;
	left:-5%;
}

#ranking{

	text-align: center;
	width: 100%;
	height: 400px;
	overflow-y: scroll;
}

#ranking_panel{

	width: 40%;
}

#search_btn{

	position: static;
}

#search_highway_form{

}

#search_for_highway_result{

	margin-left: 10%;
}

#error_message{

	margin-top: 15%;
}

#ranking_header{

	margin-top: 1%;
}

#about{

	margin-right: 15%;
}

#content{

	background: white;
	overflow: hidden;
}

#directionsPanelView{

	position:absolute;
	top:40%;
	left:100%;
	text-align:center;
	overflow: auto;
	height: 130%;
	width: 25%;
}

#routes_list{

	position:relative;
	top:100%;
	left:20%;
}

#initial_ranking{

	-webkit-transition: height 0.5s;
    	transition: height 0.5s;
	position: relative;
	width: 40%;
	height: 60px;
	font-size: 11px;
	cursor: wait;
	overflow: hidden;
}

#initial_ranking:hover{

	height: 550px;
	cursor: pointer;
}

#initial_about{

	text-align: justify;
	font-size: 12pt;
	/*margin-right: 50px;*/
}

#about{

	text-align: justify;
	font-size: 12pt;
	margin-right: 50%;
}
