<!-- Set the page title to "Ranking" -->
<% content_for :title do %>Ranking<% end %>

<div id="ranking_header" class="page-header">
    <h2>Ranking das Rodovias Federais<br><br>
    <small>
           <ul class="nav navbar-nav navbar-right">
               <div class="dropdown" id="rate_types">
                    Você está visualizando o ranking na taxa de 
                    <label class="dropdown-toggle" data-toggle="dropdown">
                         Porcentagem em relação ao total <span class="fa fa-chevron-down"></span>
                    </label>
                    <ul class="dropdown-menu" role="menu" >
                          <li role="presentation">
                                <%= link_to 'Acidentes/Km', highway_path(1)  %>
                          </li>
                    </ul>
              </div>
          </ul><br>
    </small>
    </h2> 
</div>

<br>

<div align="center">
      <div id="ranking">
            <table class="table table-hover" align="center">
            <thread>
            <tr>
            <th>Posição</th>
            <th>BR</th>
            <th>Acidentes/Km (%)</th>
            </tr>
            </thread>
            <tbody>

            <%position = 1%>
            <% @highway2.each do |h| %>
              <% if h.accidentsRatePercent != 0.0 && h.accidentsRatePercent != nil %>
                <tr></tr>
                <td><%= " #{position} º" %> </td>
                <td><%= h.idBr %></td>
                <td><%= format("%.4f",h.accidentsRatePercent)%>%</td>
                  <%position = position + 1%>
              <% end %>
            <% end %>

            </tbody>
            </table>
      </div>
</div>