<!-- Set the page title to "Ranking" -->
<% content_for :title do %>Ranking<% end %>
<div align="center">
<h2>Ranking das Rodovias Federais</h2>


<ul class="nav navbar-nav navbar-right">
 <div class="dropdown" id="rateTypes">
 Você está visualizando o ranking na taxa de:
   <button type="button" class=" btn btn-warning"data-toggle="dropdown">
  Porcentagem em relação ao total <span class="caret"></span>
  </button>
    <ul class="dropdown-menu" role="menu" >
    <li><a href="<%= highway_path(1)%>">Acidentes/Km</a></li>
  </ul>

</div>
</ul>

<br>
<br>
<br>
<br>
<div id="ranking">
<table class="table table-hover" align="center">
<thread>
<tr>
<th>Posição</th>
<th>BR</th>
<th>Número de Acidentes/Km</th>
</tr>
</thread>
<tbody>

<%position = 1%>
<% @highway2.each do |h| %>
  <% if h.accidentsRatePercent != 0.0 && h.accidentsRatePercent != nil %>
    <tr></tr>
    <td><%= " #{position} º" %> </td>
    <td><%= h.idBr %></td>
    <td><%= format("%.4f",h.accidentsRatePercent)%>%</td>
      <%position = position + 1%>
  <% end %>
<% end %>

</tbody>
</table>
</div>
</div>