<!-- Set the page title to "Ranking" -->
<% content_for :title do %>Ranking<% end %>

<div id="ranking_header" class="page-header">
  <h3><i class="fa fa-trophy"></i>  Ranking das Rodovias Federais<br><br>
    <small>
      <ul class="nav navbar-nav navbar-right">
        <div class="dropdown" id="rate_types">
          
          Você está visualizando o ranking na taxa de 
          <label class="dropdown-toggle" data-toggle="dropdown">
            <font color="#EEC900">Porcentagem em relação ao total</font>
            <span class="fa fa-chevron-down"></span>
          </label>

          <ul class="dropdown-menu" role="menu" >
            <li role="presentation">
              <%= link_to 'Acidentes/Km', highway_path(1) %>
            </li>
          </ul>

        </div>
      </ul><br>
    </small>
  </h3> 
</div>

<br>

<div align="center">
  <div id="ranking_panel" class="panel panel-warning">
    
    <div class="panel panel-heading">
      <h5 class="panel-title" align="center">Ranking Completo</h5>
    </div>

    <div id="ranking" class="content">
      <div class="panel-body">
        <table class="table table-hover" >
          <thread>
            <tr>
            <th class="text-center">Posição</th>
            <th class="text-center">BR</th>
            <th class="text-center">Participação no total<br> de acidentes(%)</th>
            </tr>
          </thread>

          <tbody>
            <%position = 1%>
            <% @highway2.each do |h| %>
              <% if h.accidentsRatePercent != 0.0 && h.accidentsRatePercent != nil %>
                <tr></tr>
                <td><%= " #{position}º" %> </td>
                <td><%= h.idBr %></td>
                <td><%= format("%.4f",h.accidentsRatePercent)%>%</td>
                <%position = position + 1%>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
