<!-- Set the page title to "Ranking" -->
<div>
<% content_for :title do %>Ranking<% end %>

<h2>Ranking das Rodovias Federais</h2>


<ul class="nav navbar-nav navbar-right">
 <div class="dropdown" id="rateTypes">
 Você está visualizando o ranking na taxa de:
   <button type="button" class=" btn btn-primary"data-toggle="dropdown">
  Acidentes/Km <span class="caret"></span>
  </button>
    <ul class="dropdown-menu" role="menu" >
    <li><a href="<%= new_highway_path %>">Porcentagem em relação ao total</a></li>
  </ul>

</div>
</ul>
<div align="center">
<br>
<br>
<br>
<div id="ranking">
<table class="table table-hover" >
<thread>
<tr>
<th>Posição</th>
<th>BR</th>
<th> Número de Acidentes/Km</th>
</tr>
</thread>
<tbody>

<% @highway.each do |h| %>
  <% if h.accidentsRate != 0.0 && h.accidentsRate != nil %>
    <tr></tr>
    <td><%= h.rankingPosition %>º </td>
    <td><%= h.idBr %></td>
    <td><%= format("%.4f",h.accidentsRate) %></td>
  <% end %>
<% end %>
</tbody>
</table>
</div>
</div>